body {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    align-items: stretch;
}

/* Header section formatting */

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 15px 0px;
    gap: 60px;

}

.logo {
    font-size: 24px;
    font-weight: 900;
    width: 450px;
}

.header-links {
    display: flex;
    width: 500px;
    justify-content: flex-end;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

/* Hero section formatting */

.hero {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 100px;
    gap: 60px;
}

.heromain{
   font-size: 48px;
   font-weight: 900;
   color: #F9FAF8;
}

.herosecond {
    font-size: 18px;
    color: #e5e7eb;
}

.heroleft {
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

.heroimage {
    width: 500px;
    height: 300px;
    border-radius: 8px;
}

.signup {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
}

/* Image and info section formatting */

.info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    height: 350px;
    margin: 0;
}

.infotitle {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.infoimage {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
}

.image {
    width: 200px;
    margin: 0;
}

.text {
    text-align: center;
    font-size: 18px;
    color: gray
}

/* Quote section formatting */

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background-color: #e5e7eb ;
    padding: 100px;
}

.mainquote {
    width: 750px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
}

.quotename {
    width: 550px;
    font-weight: bold;
    font-size: 25px;
    text-align:end;
}

/* Call to action formatting */

.cta {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.box {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    border-radius: 15px;
    flex-grow: 0.5;
    color: #F9FAF8;
}

.boxtitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3px;
}

.signup2 {    
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid white
}

/* Footer */

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



